.navbar{
    background-color: #820000;
}
.navbar>.container,.navbar>.container-fluid{
    justify-content: center;
}
address{
    font-size: 17px;
    margin-top: 5px;
}
#center-nav{
    background-color: aliceblue;
}

footer{
    background-color: #F2DEBA;
}